section 
  h2 Dependency Injection pattern

  ul 
    li Abstract dependencies are put into the constructor
    li The injector decides at run time what concrete class should be used.. (configurable)
    li ..and recursively creates that classes dependencies too == less boilerplate code
    li improved testability

