section
  h2.fragment.highlight-red Single Responsibility
  p Without SRP you will end up with megaconstructors
  h2.fragment.highlight-red Open/Closed
  h2.fragment.highlight-red Liskov Substitution
  p Interfaces specify a contract that lower level classes must adhere to
  h2.fragment.highlight-red Interface Segregation
