section
  h2 The problem
  p In "conventional" software development.. 
  div.fragment
    img(src="img/pyramid.jpg")
    img(src="img/stonehenge.jpg")
    h2 1996
  p.fragment ..high level classes would often depend on low level classes