section
  div.divide
    div.pane
      h4.class-diagram Pharoah
      h4.class-diagram Builder
      h4.class-diagram-end Pyramid
    div.pane
      pre.fragment.highlight-red
        code
          :markdown
            public class Pharoah
            {
              public void Rule()
              {
                var builder = new Builder();
                builder.BuildPyramid();
              }
            }

      pre.fragment.highlight-red
        code
          :markdown
            public class Builder
            {
              public void BuildPyramid()
              {
                var greatPyramid = new Pyramid(10000);
              }
            }

      pre.fragment.highlight-red
        code
          :markdown
            public class Pyramid
            {
              public Pyramid(int howBig)
              {
              }
            }



