section
  h4 If I change the Pyramid class, at the very minimum I will have to recompile Builder and then Pharoah
  h4 If I break the Pyramid class, Builder cannot be compiled, and then Pharoah cannot be compiled
  h4 What if Pharoah wants to build Stone Henge?
  h4 &nbsp;
  h3 Depending on low level classes is bad for maintainability & scalability
  h4 &nbsp;
  h4 So what can we do?