section
  h2 The Dependency Inversion Principle
  h3 &nbsp;
  h3.fragment 1. High-level modules should not depend on low-level modules. Both should depend on abstractions.
  h3 &nbsp;
  h3.fragment 2. Abstractions should not depend upon details. Details should depend upon abstractions.