section
  h6 Automatically creates components at run time
  h6 Highly configurable
  ul
    li Castle Windsor
    li StructureMap
    li Spring
    li Unity
    li Ninject

  h4 Service locator pattern
  h4 Dependency Injection pattern (Constructor injection)