section
  span
    h6 Automatically creates components at run time
    h6 Highly configurable
  br
  ul.fragment
    li Castle Windsor
    li StructureMap
    li Spring
    li Unity
    li Ninject
    li ..and lots more
  br
  br
  ul.fragment
    li Service locator pattern
    li Constructor Injection